# General
PROJECT_NAME=ProyectoDawaTutoIA
ENVIRONMENT=development

# Frontend
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000

# Backend Services
SECURITY_SERVICE_PORT=8001
ACADEMIC_SERVICE_PORT=8002
TUTORING_SERVICE_PORT=8003
AI_SERVICE_PORT=8004

# Database
POSTGRES_HOST=postgres-db
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5433
POSTGRES_DB=tutorias_academicas_ia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Security
JWT_SECRET=change_this_secret_key
JWT_EXPIRES_IN=1d
