FLASK_ENV=development
FLASK_DEBUG=True

APP_HOST=0.0.0.0
APP_PORT=3013

API_PREFIX=/api/v1
SERVICE_NAME=backend-flask

SECURITY_SERVICE_URL=http://seguridad:3015/api/v1
ACADEMIC_SERVICE_URL=http://servicio-administrador-acad:3017/api/v1
TUTORING_SERVICE_URL=http://servicio-tutoria:3019/api/v1
IA_SERVICE_URL=http://servicio-agente-ia:3021/api/v1

JWT_SECRET_KEY=dev_secret_key_dawa_tutorias_ia
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=120